

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  background-color: #e8e8e8;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  font-family: "Arial", sans-serif;
  color: #333;
  font-size: 28px;
  margin-bottom: 20px;
}

.error-message {
  color: red;
  margin-top: 10px;
  text-align: center;
}
.hidden {
  display: none;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.search-bar input[type="text"] {
  padding: 8px;
  width: 200px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.search-bar button {
  background-color: red;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin-left: 10px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
}



.pokemon-card {
  position: relative;
  background-color: #ffffff;
  border: 2px solid #d4d4d4;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: center;
  max-width: 200px;
  margin: 0 auto;
  margin-top: 10px;
}
.favorite-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-image: url('favoritebtn.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.pokemon-card .sprite img {
  width: 150px;
  height: 150px;
}

.pokemon-card .id {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;

}

.pokemon-card .name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: 'Press Start 2P', regular;

}

.pokemon-card .type {
  font-size: 18px;
  margin-bottom: 20px;
}

.pokemon-card .type span {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  color: #ffffff;
  font-weight: bold;
  margin: 5px;
}

.pokemon-card .type .grass {
  background-color: #78c850;
}

.pokemon-card .type .fire {
  background-color: #f08030;
}

.pokemon-card .type .water {
  background-color: #6890f0;
}

.pokemon-card .type .electric {
  background-color: #f8d030;
}

.pokemon-card .type .normal {
  background-color: #a8a878;
}

.pokemon-card .type .fighting {
  background-color: #c03028;
}

.pokemon-card .type .flying {
  background-color: #a890f0;
}

.pokemon-card .type .poison {
  background-color: #a040a0;
}

.pokemon-card .type .ground {
  background-color: #e0c068;
}

.pokemon-card .type .rock {
  background-color: #b8a038;
}

.pokemon-card .type .bug {
  background-color: #a8b820;
}

.pokemon-card .type .ghost {
  background-color: #705898;
}

.pokemon-card .type .steel {
  background-color: #b8b8d0;
}

.pokemon-card .type .dragon {
  background-color: #7038f8;
}

.pokemon-card .type .ice {
  background-color: #98d8d8;
}

.pokemon-card .type .dark {
  background-color: #705848;
}

.pokemon-card .type .fairy {
  background-color: #ee99ac;
}










.btnindex {
  text-align: center;
  margin-top: 20px;
}

.btnindex button {
  padding: 8px 16px;
  background-color: #f3d742;
  color: #333;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
}

.btnindex button:hover {
  background-color: #e8c637;
}


