/* Styles pour le Pokédex dans les années 2010 */
body {
  background-color: #e8e8e8;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  font-family: "Arial", sans-serif;
  color: #333;
  font-size: 28px;
  margin-bottom: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.search-bar input[type="text"] {
  padding: 8px;
  width: 200px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.search-bar button {
  background-color: #f3d742;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  cursor: pointer;
  background-image: url('..pokedex/img/pokeball.png'); /* Chemin vers l'image de la Pokéball */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.btnindex {
  text-align: center;
  margin-top: 20px;
}

.btnindex button {
  padding: 8px 16px;
  background-color: #f3d742;
  color: #333;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
}

.btnindex button:hover {
  background-color: #e8c637;
}
